.post{
    color: #000;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.user-details-wrapper{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.user-details-wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.user-name{
    font-size: 20px;
    font-weight: 700;
    margin: 0 .8rem ;
    padding: 0;
    line-height: 1;
}
.posted-date{
    font-weight: 500;
    color: rgb(163, 160, 160);
    /* line-height: 2.8; */
    margin: 0 .8rem ;
    font-size: 14px;

}
.save-btn{
    margin-left: auto;
}
.post-image-wrapper{
    width: 100%;
}

.post-image{
    width: 100%;
    object-fit: cover;
    height:100%;
    border-radius: 1.1rem;
}


.post-interactions{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-evenly;

}






.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Maintain aspect ratio (16:9) */
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .video-controls {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .audioToggle{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
  }
  .playToggle{
    cursor: pointer;
    margin-left: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  

  .interaction-wrappers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
  }

  .interaction-wrappers > span{
    font-size: 12px;
  }